package template

templ AboutUs() {
  <div>
      <h1 class="text-4xl text-center font-bold mt-8">This is About us page</h1>
      <div>
          <p>About us content will load here</p>
      </div>
  </div>
}